extends layout
block content
  h1 Account Pending

  p
  | Your account has been created, but not yet approved by the ST staff. As soon as it's approved, you'll have
  | access to the rest of the site.


