extends layout
block content
  h1 Account Already Exists

  p
  | Your account already exists so you should be able to use the site normally. If it's not letting you see info,
  | please let the storyteller know so we can fix the error.

