extends layout

block content
  h1 Seven Roses
  p Welcome to the Seven Roses game, a role-playing game for Mage: the Awakening. Everything here is a work of fiction. 

  each ann in announce
    p 
      .article #{ann}
  