doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="google-site-verification" content="9mf_vwWM9I7jhQgDcSAqxufAkOMyB0vLco9Za32o6do")
  body
    block content
  footer
    span 
      a(href="/auth/logout") Logout 
    span App version: 0.002