extends layout
block content
    h1= title
    p User: #{user}
    p Character: #{charname}
    p Qualities:
     ul
      if keywords
        each key in keywords
          li= key
      else
        | No qualities associated with your character at this time
