extends layout
block content
    h1= title
    p User: #{user}
    p Character: #{charname}
    p Qualities:
     ul
      if qualities
        each val, key in qualities
          li= key - val
      else
        | No qualities associated with your character at this time
