extends layout
block content
  h1= title
  p
  | Welcome to the Seven Roses information system. This is meant to be a one-stop shop for all of the
  | in-game information available to your character. Here are a few basic articles that should give you
  | a starting point:

  ul
    li: a(href="/topic/seven_roses") The Seven Roses Consilium
    li: a(href="/topic/portland") The City of Portland
