extends layout

block content
  h1 Terms of Service
  p By using this application, you agree that access is purely at the discretion of Wes Contreras, and access will be removed if you're a dick to people. No harassment. Just be chill, ya know?
  